html
    head
        meta(charset="utf-8")
        title Mon application
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        script(src="jquery/jquery.min.js")
        script(src="js/index.js")
    body(class="container-fluid")
        div(class="row justify-content-center mt-4")
            div(class="col-md-8")
                h1 Mon application

                div
                    button(class="btn btn-primary" id="btShowLogin") Login
                    button(class="btn btn-primary ml-3" id="btShowRegister") Inscription

                div(id="loginDiv")
                    form(id="loginForm" method="post")
                        div(class="form-group")
                            h2 Login
                            label Identifiant
                            input(type="text" name="login" id="login" class="form-control")
                        div(class="form-group")
                            label Mot de passe
                            input(type="password" name="pwd" id="pwd" class="form-control")
                        button(class="btn btn-primary btn-block" type="submit") Connexion

                div(id="registerDiv")
                    h2 Inscription
                    form(id="registerForm" method="post")
                        div(class="form-group")
                            label Nom
                            input(type="text" name="username" class="form-control")
                        div(class="form-group")
                            label Identifiant
                            input(type="text" name="login" class="form-control")
                        div(class="form-group")
                            label Mot de passe
                            input(type="pasword" name="pwd" class="form-control")
                        button(class="btn btn-primary btn-block" type="submit") Valider